<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: rgb(36, 163, 163);">
    <h2>Sign up</h2>
    <form method="post" action="/signup">
        <label for="newUsername">New username:</label>
        <input type="text" id="newUsername" name="newUsername" required><br>

        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" name="newPassword" required><br>

        <input type="submit" value="signup" class="btn btn-warning">
    </form>
    <div style="text-align: center; color: beige;">
        <a href="/" type="button" class="btn btn-success">Home</a> -
        <a href="login" type="button" class="btn btn-success">Login</a>

    </div>
    <script>




    </script>


</body>

</html>